
header {
    overflow: hidden;
    background-color:#f7f7f7;
    position: fixed;
    top: 0;
    width: 100%; 
    height:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.header-right a{
    float: right;
    color: rebeccapurple;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
  }
  
.header-right a:hover {
    border-bottom: 3px solid #239b76;
    color:#239b76;
    transition: all 0.5s;
  }


.header-left{
    float: left;
}

.logo {
  width: 50%;
  height: 50%;
  margin: 5px 5px ;
}

body {
    margin: 0;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


.top-wrapper {
    padding: 100px 0 100px 0;
    background-image: url(./banner.png);
    background-size: cover;
    color: rebeccapurple;
    text-align: center;
  }
  
  .top-wrapper a{
    text-decoration: none;
  }

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

.container h1 {
    font-size: 62px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.6;
    margin: 20px 0;
    border-radius: 12px;
    background-color: #239b76;
  }

.btn:hover {
    opacity: 1;
    background-color: rebeccapurple;
    transition: all 0.5s;
  }

footer img {
  width: 124px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}

